<div>
    <h3>Discover us</h3>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque in, consequuntur laudantium ullam aliquid rerum hic est facilis optio quasi ut, odit iusto necessitatibus illum autem voluptatibus, sint impedit esse!
        Perspiciatis, ab veritatis hic corrupti repellat voluptates id rerum ea consectetur vitae possimus. Labore, enim autem, molestias dolores recusandae animi minima ipsa quisquam ipsam iure incidunt quia magnam possimus consequuntur.
        Similique at numquam necessitatibus aspernatur natus ullam dolor odit pariatur eligendi adipisci, hic fugit quam veritatis neque voluptas enim consequatur maiores dicta voluptatibus nesciunt earum nobis. Porro voluptate vero obcaecati?
    </p>

    <button class="btn btn-success" (click)="goToSecondPage()"> go to second route</button>
</div>