<div class="container">

    <h3>Exmpl title</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, quod? Reiciendis numquam iusto cupiditate. Ullam debitis eum inventore velit reiciendis aliquam fugit sed recusandae harum, quisquam laudantium quos? Natus, nisi!
    </p>


    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/home/discover">Discover us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLinkActive="active" routerLink="/home/ourservices">Our services</a>
        </li> 

    </ul>

    <div>
        <router-outlet></router-outlet>
    </div>

      
</div>